:root {
    --font-primary: "Inter", sans-serif;

    --background: #eef2f6;
    --surface: #ffffff;

    --text-primary: #333;
    --text-secondary: #6e6e73;

    --border: #d1d5db;
    --input-border: #8f8f9d;
    --shadow: #bbb;
    --accent: #38BDF8;

    --blue: #2563eb;
    --black: #000;
    --green: #22c55e;
    --orange: #ffb242;
    --red: #ef4444;

    --heatmap-0: color-mix(in srgb, var(--background) 100%, white 0%);
    --heatmap-1: color-mix(in oklab, #1DB77A 30%, transparent);
    --heatmap-2: color-mix(in oklab, #1DB77A 50%, transparent);
    --heatmap-3: color-mix(in oklab, #1DB77A 70%, transparent);
    --heatmap-4: #1DB77A;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: 0.9300rem;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chart-title {
    font-weight: 500;
}